@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

h1{ /* cima esquerda baixo direita (tag padding ordem) */
    border: 2px solid black;
    padding: 20px 10px;
    margin: 1% 741px 5% 741px;
    width: 15%;
    outline: 5px solid red;
}

a{
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    box-shadow: 5px 3px 5px black;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
}

#menuNav{
    text-align: center;
}

p > span{
    display: none;
}

p:hover > span{
    display: block;
}